* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto;
    text-align: center;
    background-color: #eee;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.preferences {
    margin: 20px 50px 20px;
}

.preferences > div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.selection:hover {
    transition: 0.3s;
    transform: scale(110%);
    cursor: pointer;
}

.button {
    border: 2px solid red;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    user-select: none;
}

.button:hover {
    transition: 0.3s;
    transform: scale(110%);
    cursor: pointer;
}