@import "base.css";

.preferences-content{
    background-color: #3d4166;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 20px 0;
}

.preferences-content > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.selection-title {
    text-align: left;
}