* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    color: white;
    --pink : #ef6277;
    --purple : #6c70ac;
}

body{
    background-color: #2a2d46;
}

.container {
    margin: 50px auto;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1.2rem;
}

.preferences {
    margin: 10px 20px 10px;
}


@media only screen and (min-width: 500px) {
    .preferences {
        margin: 10px 60px 10px;
    }
}

@media only screen and (min-width: 700px) {
    .preferences {
        margin: 10px 15vw 10px;
    }
}

.preferences-content{
    background-color: #3d4166;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 20px 0;
}

.preferences-content > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}


.selection, .button {
    border-radius: 4px;
    margin: 10px 0;
    text-align: center;
    font-size: 1rem;
    user-select: none;
}


.selection{
    padding: 5px 10px;
    background-color: #2a2d46;
    width: 140px;
}
.button{
    padding: 15px;
    border: 2px solid var(--purple);
    background-color: var(--purple);
    font-weight: bold;
}

.selection:hover {
    transition: 0.3s;
    background-color: var(--pink);
    cursor: pointer;
}

.button:hover {
    transition: 0.3s;
    filter: brightness(120%);
    cursor: pointer;
}