@import "index.css";


.result {
    margin: 20px 25px 10px;
    display: flex;
    justify-content: space-evenly;
}

.result > div{
    display: flex;
    justify-content: space-between;
}

.result-content{
    align-items: center;
    background-color: #3d4166;
    border-radius: 4px;
    padding: 100px 50px;
    margin: 10px 0;
}
