<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommendation</title>
    <link rel="stylesheet" href="css/index.css" />
    <script defer src="js/index.js"></script>
    <script defer src="js/index_populate.js"></script>
</head>

<body>
    <div class="container">

        <div class="content">
            <h1 class="title">
                <div>Sistem Rekomendasi Restoran
                    <br> di Jakarta
                </div>
            </h1>
        </div>

        <div class="subtitle">Welcome!</div>

        <form class="preferences">
            <div class="preferences-content">
                <div>
                    <div class="selection-title">Lokasi Preferensi</div>
                    <select class="selection" id="lokasi" required></select>
                </div>
                <div>
                    <div class="selection-title">Jenis Restoran</div>
                    <select class="selection" id="jenis" required></select>
                </div>
            </div>
            <div class="preferences-content">
                <div>
                    <div class="selection-title">Prioritas 1</div>
                    <div class="prioritas" id="prioritas1" draggable="true">Lokasi</div>
                </div>
                <div>
                    <div class="selection-title">Prioritas 2</div>
                    <div class="prioritas" id="prioritas2" draggable="true">Jenis</div>
                    </select>
                </div>
                <div>
                    <div class="selection-title">Prioritas 3</div>
                    <div class="prioritas" id="prioritas3" draggable="true">Rating</div>
                    </select>
                </div>
            </div>
        </form>

        <button type="submit" id="button-find" class="button button-primary">Cari
            restoran</button>

    </div>
</body>

</html>