<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
</head>

<body>
    <div class="container">

        <div class="content">
            <h1 class="title">
                <div>Sistem Rekomendasi Restoran
                    <br> di Jakarta
                </div>
            </h1>
        </div>

        <div class="subtitle">Welcome!</div>

        <form class="preferences" method="post" action="/">
            <div class="preferences-content">
                <div>
                    <div class="selection-title">Lokasi Preferensi</div>
                    <select class="selection" id="lokasi" required name=preference-area method="GET" action='/'>
                        {% for area in areas %}
                        <option value="{{ area }}">{{ area }}</option>"
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <div class="selection-title">Jenis Restoran</div>
                    <select class="selection" id="jenis" required name=preference-type method="GET" action='/'>
                        {% for type in types %}
                        <option value="{{ type }}">{{ type }}</option>"
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="preferences-content">
                <div>
                    <div class="selection-title">Prioritas 1</div>
                    <select class="selection prioritas" id="prioritas1" required name=prio-1 method="GET" action='/'>
                        {% for prio in prios %}
                        <option value="{{ prio }}">{{ prio }}</option>"
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <div class="selection-title">Prioritas 2</div>
                    <select class="selection prioritas" id="prioritas2" required name=prio-2 method="GET" action='/'>
                        {% for prio in prios %}
                        <option value="{{ prio }}">{{ prio }}</option>"
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <div class="selection-title">Prioritas 3</div>
                    <select class="selection prioritas" id="prioritas3" required name=prio-3 method="GET" action='/'>
                        {% for prio in prios %}
                        <option value="{{ prio }}">{{ prio }}</option>"
                        {% endfor %}
                    </select>
                </div>
            </div>
            <input type="submit" id="button-find" class="button button-primary" value="Cari Restoran" name="cari-restoran"></input>
        </form>
    </div>
</body>

</html>